*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container {
    width: 300px;
    height: 400px;
    background: linear-gradient(
    135deg,
    #eef0bc,   /* light indigo */
    #e0e7ed,   /* soft white */
    #c1fcff    /* light cyan */
  );
    box-shadow: 0px 0px 5px rgb(123, 122, 122);
    padding: 25px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-img {
    height: 190px;
    width: 250px;
    border-radius: 10px;
    background-color: #f2f2f2;   /* soft neutral background */
    object-fit: cover;
}

.user-desc {
    text-align: center;
    word-wrap: break-word;
    line-height: 1.3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.6;
    /* font-style: italic; */
    font-variant: small-caps;
    font-size: 18px;
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    width: fit-content;
    padding: 3px 8px;
    border: 2px solid rgb(104, 104, 147);
    border-radius: 5px;
    color: rgb(38, 30, 207);
    background-color: rgb(248, 249, 249);
}
